<div class="row">
  <div class="col-xs-6">
    <div class="row">
      <h2>POC 1</h2>
        <button type="button" (click)="toggleSection()">Toggle Users</button>      
    </div>

    <div class="row" *ngIf="showSection; else alternateSection">
      <h2>User Details</h2>
      <table class="table table-bordered table-condensed">
        <thead>
          <tr class="info">
            <td>Name</td>
            <td>Age</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #alternateSection>
      <div class="row">
        Showing Else section using ng-template
      </div>
    </ng-template>
    
  </div>

</div>
